<?xml version="1.0"?>
<model>
  <name>argos_vehicle</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <description>
  Parser plugin `sdformat_urdf` compatible differential drive vehicle model. Used to read
  models described in SDFormat and outputs URDF C++ DOM structures.
  </description>
</model>

<!--
  Derived from ros_gz_sim_demos/models/vehicle/model.config.
  Upstream license: Apache-2.0
  Modified for the ARGOS vehicle model.
-->